
div {
	width: 150px;
	height: 150px;
	margin-left:  10px;
}
.container1 {
	background: red;
	margin:0 auto;
	margin-top: 50px;
	transition: transform 2s;
    -webkit-transition: width 2s, height 2s, 
    -webkit-transform 2s;
    position: right 10px;
}
.container1:hover{
	width: 500px;
	height: 300px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.container2{
	background: black;
	width: 200px;
	height: 300px;
	margin: 0 auto;
	transition: transform 2s;
    -webkit-transition: width 2s, height 2s, 
    -webkit-transform 2s;
}
.container2:hover{
	width: 100px;
	height: 300px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}